@model IEnumerable<Web.Models.Order>

<div class="jumbotron">
    <h1>BrainWare Orders</h1>
    <p class="lead">This is the BrainWare orders page! Welcome</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Your Orders</h2>
        <div id="orders">
            <ul>
                @foreach (var o in Model)
                {
                <li>
                    @o.Description (Total: $@o.OrderTotal)
                    <ul>
                        @foreach (var p in o.OrderProducts)
                        {
                            <li>@p.Product.Name (@p.Quantity @@ $@p.Price/ea)</li>
                        }
                    </ul>
                </li>
                }
            </ul>
        </div>
    </div>
  
</div>